@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  min-height: 100vh;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}